body {
     margin: 0;
     background-color: #9FD4CF;
     background-image: url(oranges.jpg);
     background-repeat: repeat;
     height: 10px;
     background-posistion: center;
     width: 100%;
}


#heading {
    background-color: #9FD4CF;
    width: cover;
    height: cover;
}

h1 {
    text-align: center;
    color: #18468F;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-transform: uppercase;
    font-family: Garamond;
}
h4 {
    text-align: center;
    color: #18468F;
    font-family: Garamond;
}


h2 {
    color: #18468F;
    text-decoration-line: underline;
    font-family: Garamond;

}

a, a:visited {
    color: #660066;
    text-decoration: underline;
}

footer {
    text-align: center;
}
