
body {
	background-color: #f0d5ad;
}

h1 {
	color: #da635b;
	font-family: Lucida Console;
	font-size: 40px;
	text-align: center;
}

h2 {
        color: #c99da0;
        font-family: Lucida Console;
        font-size: 30px;
        text-align: left;
}
li a, p {
	color: #da635b;
        font-size: 20px;
	text-align: left;
}

footer  { 
	color: #7ea784;
	font-size: 15px;
	text-align: center;
 	padding: 10px;
}

footer a {
	color: ##d87d4e;
}
dt {
	color: #B88F92;
        font-family: Lucida Console;
        font-size: 30px;
        text-align: left;
}
dd {
        color: #FFFFFF;
        font-family: Lucida Console;
        font-size: 20px;
        text-align: left;
        padding: 10px;
}

